@import "http://fonts.fontstorage.com/import/chelaone.css";
*{
    margin: 0;
    padding: 0;
}

body{
    background: #ebebeb;
    background: linear-gradient(45deg, #2854a5, #000);
}

.slider-box{
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.slider-box h1{
    color: white;
    font-weight: bold;
    margin-bottom: 0;
    font-size: 60px;
    font-style: italic;
    font-family: 'Chela One';
    letter-spacing: 4px;
    -webkit-text-stroke: 1px rgba(36, 100, 36, 0.856);
}

.main-slider{
    position: relative;
    width: 640px;
    padding-top: 320px;
    margin: 20px auto;
    box-sizing: border-box;
    box-shadow: 0 10px 20px -6px rgba(0, 0, 0, 0.8);
}


 .main-slider> img{
    position: absolute;
    top: 0;
    left: 0;
    transition: all .6s;
}

.out{
    width: 100%;
    height: 100%;
}

.main-slider input[name='ani']{
    display: none;
}

.main-slider label{
    margin: 35px 0 0 20px;
    border: 3px solid #888;
    float: left;
    cursor: pointer;
    transition: all .6s;
    opacity: 0.8;
}

.main-slider label img {
    display: block;
}

.main-slider input[name='ani']:checked+label{
    border-color: #777;
    opacity: 1;
}

.main-slider input[name='ani']~img{
    opacity: 0;
    transform: scale(1.1);
}

.main-slider input[name='ani']:checked+label+img{
    opacity: 1;
    transform: scale(1);
} 